---
layout: default
---

<div class="home">

  {{ content }}

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="box home-box">
      <div class="post-list">
        {%- for post in posts -%}
          <a class="post-link" href="{{ post.url | relative_url }}">  
              <table>
                <th></th>
                <tr>
                    <td>
                         <h3>{{ post.title }}</h3>
                    </td>
                    <td>
                        <img src="{{ post.image }}" style="height: 250px; width: 250px;">
                    </td>
                </tr>
              </table>
              <br>
              <h4>{{ post.description }}</h4>
          </a>
        {%- endfor -%}
      </div>
    </div>

  {%- endif -%}

</div>
